html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    /* overflow: hidden; */
}
.main{    
    width: 100%;
    height: 100%;
    z-index: 999;
}
.mainpage{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid; */
}

@media screen and (max-width:1200px){
    .mainpage{
        width: 80%;
    }
}
@media screen and (max-width:600px){
    .mainpage{
        width: 90%;
    }
} 
@media screen and (max-width:300px){
    .mainpage{
        width: 100%;
    }
}


.person-page{
    height: 170px;
}

.person-page img{
width: 140px;
height: 140px;
border-radius: 50%;
}

.person-img{
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    float: left;
    display: inline;
}

.person-label{
   position: relative;
   left: 10px;
}

.news{
    font-size: 16px;
    font-family: arial,sans-serif;
}
.news-body a{
    font-size: 20px;
    font-weight: bold
}

canvas {
    position: absolute;
    /* cursor: none; */
    z-index: -1;
}

#touxiang{
    margin: 0 auto;
}


/* 
@media(min-width:300px){
    img{
        width:10px;
        height: 10px;
        box-sizing:border-box;
        padding:10px;
    }
} */

/* @media(max-width:300px){
    img{
        width:10%;
        height:10%;        
    }
} */

.personalinfo{
    border-style: none;
    
    margin-top: 30px;
    
}

.panel{
    border-left-style: none;
    border-right-style: none;
    /* background-color: #fff0ff; */
    background-color: #fff0;
    border-top-color: bisque;
    border-bottom-color: bisque;
    
}

.content1{
    background-color: #aa6abd27;
}

#footer{
    margin-bottom: 15px;
    text-align: center;
}

a:hover{
    color: aqua;
}